<!DOCTYPE html>
<html>
<head>
  <title>Teker | spin and win</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <div id="session-form">
    <h2>Teker</h2>
    <h3>spin and win</h3>
    <form action="" method="post">
      <div class="form-group">
        <input type="text" name="token" placeholder="token">
        <button><span>Enter &#9166;</span></button>
        {% if error %}
          <div class="error">Invalid token</div>
        {% endif %}
      </div>
    </form>
  </div>
</body>
</html>