<!DOCTYPE html>
<html>
<head>
  <title>Teker | spin and win</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

  <header>
    <h1>TEKER</h1>
    <h2>spin and win</h2>
  </header>

  <div id="room">
    <h2>session id: <span>#{{ session_id }}</span></h2>
    <h3>remaining time: <div class="remaining-info"><span id="timer"></span> minutes</div></h3>

    <form action="/join/{{ session_id }}">
      <button id="join-session-btn" type="submit">
        <span>join session</span>
      </button>
    </form>
    <ul id="player-list">
      {% for player in players %}
       <li>{{ player }} <span>+10</span></li>
      {% endfor %}
    </ul>
    <h3 id="total-player">total player: <span>{{ players|length }}</span></h3>
    <h3 id="total-bonus">total bonus: <span>+{{ 10 * players|length }}</span></h3>
  </div>

  <div id="wheel">
    <canvas id="canvas" width="500" height="500"></canvas>
  </div>

  <script type="text/javascript" src="/static/js/utils.js"></script>
  <script type="text/javascript" src="/static/js/Wheel.js"></script>
  <script type="text/javascript" src="/static/js/Timer.js"></script>
  <script type="text/javascript" src="/static/js/Room.js"></script>
  <script type="text/javascript">
    var sessionID = "{{ session_id }}";
  </script>
  <script type="text/javascript" src="/static/js/App.js"></script>
</body>
</html>